/* CSS definition file containing site stylesheet */
body {}
#content {width:100%; margin-left:5% auto;margin-right:5% auto;}
#footer {font-size: small; font-style:italic;text-align:center;}
#topstuff {background: url(/assets/images/logo.jpg) repeat-x; height:150px;}